.git
.gitignore
.workbuddy
.arts
.codeartsdoer
__pycache__
*.pyc
*.log
output_img
user_upload_images
admin_data
weights
*.pth
*.pt
*.dat
*.ckpt
*.onnx
test_images/gpu_smoke_in
test_images/gpu_smoke_out
test_images/gpu_smoke_out2
test_images/detect_smoke_out

